a {
    text-decoration: none;
    text-align: center;
    margin: 60px;
}

h1 {
    text-align: center;
}

img {
    width: 300px;
    height: 150px;
}
body{
    background-color: red;
}
p{
    color:red;
}