a {
    text-decoration: none;
    text-align: center;
    margin: 60px;
}

h1 {
    text-align: center;
}

img {
    width: 300px;
    height: 150px;
}
body{
    background-color: red;
}

/* /////////////// */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }